body {
    overflow: hidden;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding-left:1vw;
    padding-right:1vw;
}

.card {
	height: 45vh;
	width: 15vw;
	top: 15vh;
	display:inline-block;
	position:relative;
	transition: width 0.75s, height 0.75s;
}


.card-img {
	filter: grayscale(100%);
	height: 100%;
	width: 100%;
	transition: width 0.35s, height 0.35s;
}

.desc {
	visibility: hidden;
    margin-left: 2vw;
}

@media (min-width: 1000px){
    .card:hover, .card-img:hover , .card-img:hover + .desc{
        height: 50vh;
        width: 17.5vw;
        visibility:visible;
        filter: none;
    }
}


@media (max-width: 1000px){
    body {
        overflow: visible;
    }
    
    .cards {
        display:block;
        justify-content: center;
        padding-bottom: 11vh;
    }

    .card {
        height: 55vh;
        width: 60vw;
        position:relative;
        transition: none;
        margin-left: 17.5vw;
        margin-top: 5vh;
        top: 0vh;
        left: 0vw;
    }

    .card-img {
        filter: none;
    }
    
    .desc {
        visibility: visible;
    }
}
