.auth-form-container {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    flex-grow: 1;
    padding: 1rem;
}

.auth-form .text-field {
    margin-top: 1.5rem;
}

.auth-form .button {
    margin-top: 1.75rem;
}

.auth-hint {
    margin: 0.25rem 0 0 0.1rem;
    font-size: 0.75rem;
}

.auth-hint > a {
    text-decoration: none;
    font-weight: bold;
    color:#0072e5;
}
