.card {
	height: 45vh;
	width: 15vw;
	margin: 15vh 1.85vw;
	display:inline-block;
	position:relative;
	transition: width 0.75s, height 0.75s;
}


img {
	filter: grayscale(100%);
	height: 100%;
	width: 100%;
	transition: width 0.35s, height 0.35s;
}

.desc {
	visibility: hidden;
}

.card:hover, img:hover , img:hover + .desc{
	height: 50vh;
	width: 17.5vw;
	visibility:visible;
	filter: none;
}

.card:hover {
	margin-right: 1vw;
}

