.navbar {
    top: 0;
    left: 0;
    right: 0;
    width:100vw;
    display:flex;
    flex-direction: horizontal;
    background-image: linear-gradient(to right bottom, #171f32, #2b2438, #3c2a3b, #4b313c, #57393c);
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar-font {
    font-family: 'Bogart', serif !important;
    font-weight: 1000 !important;
    font-size: 1.15em;
    letter-spacing: 0.063em;
    color: white !important;
}

.navbar-element {
    width: 100%;
    max-width: 15vw;
    position: relative;
}

.navbar-element:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    bottom: 0.2em;
    left: 0;
    background-color: #556989;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.navbar-element:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-current {
	color: #bea5ab!important;
}

.navbar-current:after {
    background-color: #bea5ab;
}

.navbar-unit {
    display:flex; 
    justify-content: space-between;
}

.dropdown-item {
    float: right;
}

.dropdown-item:hover{
	background-color: #57393c;
}

@media (max-width: 768px){
    .homepage-heading{
        display:inline-block;
        text-align: center;
        color: white;
        font-size: 5em;
        font-family: "Noto Sans JP", sans-serif;
        margin: 0 0em;
    }

    .homepage-subtitle{
        position: relative;
        max-width: 95vw;
        width: 95vw;
        text-align: center;
        font-size: 3.5em;
        margin-top: 12.5vh;
    }
    
    .homepage-text{
        position: relative;
        max-width: 95vw;
        width: 95vw;
        text-align: center;
        font-size: 2em;
    }
}

body {
    font-family: sans-serif;
}

button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    cursor: pointer;
    background-color: #007fff;
    color: #fafafa;
    font-weight: bold;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.text-field {
    display: flex;
    flex-direction: column;
}

.text-field > label {
    font-size: 0.75rem;
    font-weight: 400;
    color: #00000099;
}

.text-field > input {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid #00000033;
    background-color: #fafafa;
}

.text-field > input:focus-visible {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header {
    color: #0a1929;
    font-weight: bold;
    font-size: 1.75rem;
    margin: 0;
}

